<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a style="font-size: 25px; color: #2079c7;" href="/">Projects</a></li>
		        	<li><a style="font-size: 25px; color: #2079c7;" href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a style="font-size: 20px;" href="mailto:mr.fab@live.com">email me at: mr.fab@live.com</a></li>
	        		<li><a style="font-size: 20px;" href="https://github.com/FabienSC">github.com/FabienSC</a></li>
				</ul>
			</footer>
		</body>
	</html>
