<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">CV</a></li>
		        	<li><a href="/projects">Projects.html</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mr.fab@live.com">email me at: mr.fab@live.com</a></li>
	        		<li><a href="https://github.com/FabienSC">github.com/FabienSC</a></li>
				</ul>
			</footer>
		</body>
	</html>
